Flask==2.3.2
Flask-Bcrypt==1.0.1
gunicorn==22.0.0  # Production web server
numpy==1.26.4
Pillow==9.5.0
pandas==1.5.3
certifi
pymongo[srv]==4.6.1
tensorflow==2.10.0
keras==2.10  .0
langchain-groq==0.0.1
intel-tensorflow
scikit-learn
flask_cors
